<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}} - {{strings.title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="author" content="{{author}}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link href="/static/style.css" rel="stylesheet">    
    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-touch-icon-114x114.png">
  </head>
  <body>
    <div style="width: 400px; margin: 100px auto; font-size: 30px; font-weight: bold; text-align: center; color: rgba(79, 82, 86, 0.5); text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5)">
      {{title}}
    </div>
    <div style="width: 400px; margin: 30px auto; font-size: 200px; font-weight: bold; text-align: center; color: rgba(79, 82, 86, 0.5); text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5)">
      {{content}}
    </div>
  </body>
</html>
